body{
	max-width: 1200px;
	margin: 10px auto;
}
.header{
	width: 100%;
	background-color: #1B5589;
	}
.header img{
	width: 5%;
	float:right;
	vertical-align: top;
	margin-top: -85px;
	margin-right: 60px;
	}
.menu{
	box-sizing: border-box;
	display:flex ;
	list-style-type: none;
   width: 100%;
	padding: 30px;
	padding-left: 80px;
	}
.menu li a{
	display: block;
	text-decoration: none;
	color:#4397C2;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.menu li:nth-child(3) a{
	color: aliceblue;
}
.menu li a:hover{
	color: #F9F6F4;
}
h1{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:lighter;
	color:#283A6C;
	margin-bottom: 30px;
}
.middle{
	width: 90%;
	margin:30px auto;
}
.list{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	list-style-type: none;
	background-color: #CCE5FF;
	padding: 20px;
	padding-left: 60px;
	padding-right: 150px;
	border-radius: 5px;
}
.list li a{
	text-decoration: none;
	color: #4674AE;
	font-family: Arial, Helvetica, sans-serif;
}
.list li:nth-child(2){
	margin-left:-80px;
}
.profile{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
img{
	width:50%;
	margin-left: 60px;
}
.profile .first button{
	width:45%;
	margin-left: 65px;
}
button{
	font-family: Arial, Helvetica, sans-serif;
	width:88%;
	padding: 5px;
	background-color: #6C757D;
	color: #F9F6F4;
	border-radius: 5px;
}
button:hover{
	cursor: pointer;
}
input{
	font-family: Arial, Helvetica, sans-serif;
	width:85%;
	padding: 5px;
	border-color: #DDE1E5;
	color:#97A7BB;
	outline: 0px;
	margin-bottom: 10px;
}
.first{
	width:25%;
}
.second{
	width:50%;
}
.third{
	width:50%;
}






























/*
.profile{
	display: grid;
	grid-template-columns:1fr 2fr 2fr;
	grid-auto-rows: auto;
	grid-row-gap: 13px;
}
img{
	width:50%;
	margin-left: 70px;
}
.profile .first{
	grid-column:1/2;
   grid-row: 1/7;
}
.profile div:nth-child(11){
	grid-column:2/3;
   grid-row: 6/7;
}
.profile div:nth-child(12){
	grid-column:2/3;
   grid-row: 7/8;
}
input{
	font-family: Arial, Helvetica, sans-serif;
	width:90%;
	padding: 5px;
	border-color: #DDE1E5;
	color:#97A7BB;
	outline: 0px;
}
.middle{
	width: 94%;
	margin-left: 40px;
}
button{
	font-family: Arial, Helvetica, sans-serif;
	width:93%;
	padding: 5px;
	background-color: #6C757D;
	color: #F9F6F4;
	border-radius: 5px;
}
.profile .first button{
	width:60%;
	margin-left: 55px;
}
button:hover{
	cursor: pointer;
}











































	