body{
	max-width: 1200px;
	margin: 10px auto;
}
.header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #1B5589;
	padding: 5px;
	}
.logo a{
	display: block;
	margin-left: 25px;
	margin-top: 5px;
	}
.logo img{
	width:80%;
	padding: 2px;
	}
.girl img{
	margin-right: 70px;
}
.menu{
	position: absolute;
	box-sizing: border-box;
	display:flex ;
	list-style-type: none;
   width: 30%;
	margin-left: 80px;
	margin-top: 25px;
	}
.menu li a{
	display: block;
	text-decoration: none;
	color:#4397C2;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.menu li:nth-child(3) a{
	color: aliceblue;
}
.menu li a:hover{
	color: #F9F6F4;
}
h1{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:lighter;
	color:#283A6C;
	margin-bottom: 30px;
}
.middle{
	width: 90%;
	margin:30px auto;
}
.list{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	list-style-type: none;
	background-color: #CCE5FF;
	padding: 20px;
	padding-left: 60px;
	padding-right: 150px;
	border-radius: 5px;
}
.list li a{
	text-decoration: none;
	color: #4674AE;
	font-family: Arial, Helvetica, sans-serif;
}
.list li:nth-child(2){
	margin-left:-80px;
}
.profile{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.profile img{
	width:50%;
	margin-left: 60px;
}
input[type="file"]{
	display: none;
}
input[type="file"] + label > .mybtn{
	width:45%;
	text-align: center;
	background-color: #6C757D;
	padding: 5px;
	color: #F9F6F4;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 60px;
}
button{
	font-family: Arial, Helvetica, sans-serif;
	width:88%;
	padding: 5px;
	background-color: #6C757D;
	color: #F9F6F4;
	border-radius: 5px;
}
button:hover{
	cursor: pointer;
}
input{
	font-family: Arial, Helvetica, sans-serif;
	width:85%;
	padding: 5px;
	border-color: #DDE1E5;
	color:#97A7BB;
	outline: 0px;
	margin-bottom: 10px;
}
.first{
	width:25%;
}
.second{
	width:50%;
}
.third{
	width:50%;
}



































	